h1 {
    padding-top: 5px;
    padding-bottom: 10px;
    float: center;
    width: 100%;
    background-color: skyblue;
    text-align: center;
    font-weight: bold;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: white;
}
h2 {
    color: skyblue;
    font-weight: bold;
    font-family: 'Oleo Script Swash Caps', cursive;
    text-align: left;
}
.nav-link {
  float: left;
    font-size: 26px;
  margin: 0px;
  text-align: center;
  
 
}
h3 {
    color: white;
    background-color: gray;
    text-align: center;
    padding: 20px;
}
      li a:hover {
        background-color:silver;
      }
      li {
          text-align: right;
   }

.navbar {
text-align: center;
}
.form-group {
  font-weight: bold;
}
.collapse {
  float: left;

}
.para {
  margin-bottom: 70px;
}
