* {
  box-sizing: border-box;
}
h1 { 
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: start;
   background-color: skyblue;
    width: 1000%;
    font-weight: bold;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: white;
}
h2 {
  padding-top: 5px;
  padding-bottom: 10px;
    color: skyblue;
    font-weight: bold;
    font-family: 'Oleo Script Swash Caps', cursive;
    text-align: start;
}
.keen {
  width: 1000px;
  text-align: right;
}
.nav-link {
  margin: 0px;
  text-align: center;
    font-size: 24px;
    font-weight: bold;
}
h3 {
    color: white;
    background-color: gray;
    text-align: center;
    padding: 20px;
}
      li a:hover {
        background-color:silver;
      }
      li {
          text-align: right;
   }

.navbar {
text-align: center;
}
.form-group {
  font-weight: bold;
}
.collapse {
  float: left;

}
.para {
  margin-bottom: 70px;
}
