* {
    box-sizing: border-box;
}
h1 {
    padding-top: 5px;
    padding-bottom: 10px;
    width: 100%;
    background-color: skyblue;
    text-align: start;
    font-weight: bold;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: white;
}
.keen {
    width: 100px;
    text-align: right;
}
.img-fluid {
    height: auto;
    max-width: 100%;
}
h2 {
 background-color: white;
    padding-top: 5px;
    padding-bottom: 10px;
    font-weight: bold;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: skyblue;
    text-align: start;
}
h3 {
    color: white;
    background-color: gray;
    text-align: center;
    padding: 20px;
}
.text-center {
    padding-left: 70px;
    padding-top: 70px;
    padding-right: 70px;
    padding-bottom: 70px;
}
.nav-link {
    margin: 0px;
    font-size: 24px;
    font-weight: bold;
}
.bg-light {
    background-color: #f8f9fa!important;
    float: right;
}
li {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Oleo Script Swash Caps', cursive;
}