* {
    box-sizing: border-box;
}
h1 {
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: start;
    width: 1000%;
    background-color: skyblue;
    font-weight: bold;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: white;
}
h2 { 
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: start;
    background-color: white;
    font-weight: bold;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: skyblue;
}
.keen {
    width: 1000px;
    text-align: right;
}
.text {
    background-color: skyblue;
    color: white;
    position: absolute;
    bottom: 10px;
    left: -10;
    width: 95%;
}
.element-style {
    background-color: white;
    border: 1px snow silver;
    margin-top: 10px;
}
.col-6 {
        padding-top: 20px;
        position: relative;
}

.nav-link {
    margin: 0px;
    font-size: 24px;
    font-weight: bold;
}
h3 {
    color: white;
    background-color: skyblue;
    text-align: center;
    padding: 20px;
}
.bg-light {
    background-color: #f8f9fa!important;
    float: right;
}