* {
    box-sizing: border-box;
}
h1 {
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: start;
    width: 1000%;
    background-color: skyblue;
    font-weight: bold;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: white;
}
h2 { 
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: start;
    background-color: white;
    font-weight: bold;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: skyblue;
}
.keen {
    width: 1000px;
    text-align: right;
}
.text {
    background-color: skyblue;
   
}
.text-center {
    padding-left: 30px;
    padding-top: 0px;
}
.text-align {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 80px;
}
.col-md-6 {
    padding-top: 20px;
}
h3 {
    color: white;
    background-color: gray;
    text-align: center;
    padding: 20px;
}
.nav-link {
    margin: 0px;
    font-size: 24px;
    font-weight: bold;
}
