h1 {
  font-family: 'Oleo Script Swash Caps', cursive;
  text-align: center;
  width: 100%;
  color: white;
}

p {
  font-size: larger;
}

h2 {
  clear: both;
  font-family: 'Oleo Script Swash Caps', cursive;
}

.keen {
  float: left;
}

#footer {
  background-color: skyblue;
  text-align: center;
  border: 1px solid white;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 0px;
  left: 0px;
  margin-inline-end: 0px;
}

.form-group {

  margin-inline-start: 100px;
  margin-inline-end: 100px;
}

.element-style {
  margin-inline-start: 100px;
  margin-inline-end: 100px;
}

.img-fluid {
  width: 60%;
  height: 50px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
a.nav-link {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 33px;
  color: white;
  margin-bottom: 10px;
}

.navbar-toggle-icon {
  position: relative;
  display: inline-block;
  background-size: 100% 100%;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
}

.row {
  display: block;
  width: 100%;
  margin-left: -50px;
  margin-right: auto;
  float: left;
}

.text {
  padding: 10px;
  text-align: center;
  background-color: skyblue;
  margin-bottom: 20px;
}

.img-day {
  display: block;
  width: 100%;
  height: 84%;
}
.img-quiz {
  width: 100%;
  height: 61%;
}
.img-5 {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  margin-top: -300px;
}

.text-day {
  padding: 30px;
  text-align: center;
  background-color: skyblue;
  height: 20px;
}

p, ul {
  margin-inline-start: 100px;
  margin-inline-end: 100px;
}
#submit {
  width: 20%;
  border: solid darkblue transparent;
}
@media screen and (max-width: 375px) {
  p, ul {
    margin-inline-start: auto;
    align-items: center;
  }
  .img-day {
    height: 70%;
  }
  .img-quiz {
    width: 100%;
    height: 54%;
  }
  button {

    align-items: center;
  }
}

@media screen and (max-width: 375px) {
  .text, .text-day {
    width: 100%;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 6px;
    height: 20px;
  }
}
@media screen and (max-width: 375px) {
  .form-group {
    width: 80%;
    margin-inline-start: 30px;
    margin-inline-end: 10px;
  }
  .element-style, hr {
  margin-inline-start: 30px;
  width: 80%;
  }
p {
  margin-inline-start: 30px;
}
}